h1, h2{
    font-family: 'Rokkitt', serif;
}
h1 {
    color: #123660;
    font-size: 48px;
}
h2 {
    color: #123660;
}
.navbar-dark {
    background: #123660;
    font-size: 18px;
}
.btn {
    background: #123660;
    color:whitesmoke;
}
.carousel-inner {
    border: 2px;
    border-color: #123660;
}
.my-custom-carousel {
    border: 5px solid #123660; /* 5px wide border with color #123660 */
    padding: 5px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Shadow effect */
}
